.alert {
    padding: 10px;
    font-size: 20px;
    background: lightgrey;
    margin-bottom: 10px;
}

.alert-success {
    color: green;
    border: solid;
    border-radius: 5px;
}

.alert-error {
    color: red;
    border: solid;
    border-radius: 5px;
}